<h3>Back to List</h3>
<%=link_to("Back to List" ,:controller => 'books',:action => 'index',:id => @admin.id.to_s)%>
<table class="table">
	<tr>
		
		<th>isbn</th>
		<th>ISSUED BY</th>
	
		
	</tr>
	<%@find.each do |f| %>
	<tr>
	<td><%=f.isbn%></td>
	<td><%=f.email %></td>
	 </tr>
     <% end %>
     </table>